:root {
  --main: #3a0e59;
}

* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
}

body {
  max-width: 1800px;
  margin: 0 auto;
  position: relative;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

nav {
  padding: 20px;
  margin: 20px 10px;
  background: #fff;
  border-radius: 100px;
  display: inline-block;
}

nav .nav-link {
  color: var(--main);
  margin-right: 25px;
  font-weight: 800;
  text-decoration: none;
  padding: 5px 10px;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 100px;
}

nav .nav-link:hover {
  background: var(--main);
  color: #fff;
}

.nav-icon {
  background: url("../img/cp_icon.png") center center/contain no-repeat;
  padding: 10px;
}

.logo {
  background: url("../img/logo.svg") center center/contain no-repeat;
  width: 180px;
  height: 100px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.screen-1 {
  background: url("../img/first-screen.png") right center/contain no-repeat;
}

.screen-2 {
  background: url("../img/second-screen.png") top center/cover no-repeat;
  position: relative;
}

.screen-2::before {
  content: "";
  position: absolute;
  background: url("../img/2-screen_image.png") top right/contain no-repeat;
  padding: 200px;
  top: 0;
  right: 0;
}

.screen-2_bottom {
  background-size: 100%;
  position: relative;
}

.screen-2_bottom::before {
  content: "";
  position: absolute;
  background: url("../img/3-screen_image.png") top right/contain no-repeat;
  padding: 300px;
  top: -200px;
  right: 0;
}

.slick-next {
  right: 15px !important;
}

.slick-prev {
  left: 15px !important;
}

.screen-3 {
  background: url("../img/third-screen.png") top center/contain no-repeat;
  background-size: 100%;
  position: relative;
  padding: 50px 0;
}

.screen-3::before {
  content: "";
  position: absolute;
  background: url("../img/4-screen_image.png") top left/contain no-repeat;
  padding: 250px;
  top: 0;
  left: 0;
}

.screen-3_bottom {
  position: relative;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.screen-3_bottom::before {
  content: "";
  position: absolute;
  background: url("../img/5-screen_image.png") top left/contain no-repeat;
  padding: 200px;
  top: -100px;
  left: 0;
}

.main-image {
  background: url("../img/main.png") left center/contain no-repeat;
  padding: 170px;
  margin: 150px 0 50px;
}

.main-content {
  margin: 50px 0;
  background: #ffffffe8;
  display: inline-block;
  padding: 20px;
  border-radius: 20px;
}

.main-content h1 {
  color: var(--main);
  font-weight: 400;
}

.main-content h1 span {
  font-weight: 800;
}

.main-content .main-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
  width: 100%;
  margin: 20px 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-content .main-bottom .main-button {
  background: #ffb005;
  color: #222;
  padding: 20px;
  width: 240px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-content .main-bottom p {
  margin: 0 20px;
  width: 100%;
  color: var(--main);
}

h2 {
  font-size: 36px;
  padding: 60px 0;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  color: #3a0e59;
  position: relative;
  z-index: 1;
}

.teacher-items {
  margin-top: 50px;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.teacher-items .teacher-item {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 75px;
  border: 1px solid rgba(134, 134, 134, 0.2);
  cursor: pointer;
  max-width: 350px;
  border-radius: 10px;
  width: 33%;
  margin-bottom: 20px;
  padding: 20px;
  color: #3a0e59;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.teacher-items .teacher-item:hover {
  background: #fff;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
}

.teacher-items .teacher-item .teacher-image img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.teacher-items .teacher-item .teacher-name {
  font-size: 20px;
  font-weight: 800;
  margin: 15px 0;
}

.teacher-items .teacher-item .teacher-description {
  font-size: 16px;
  font-weight: 500;
}

.project-items {
  margin-top: 10px;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project-items .project-item {
  cursor: pointer;
  margin-right: 75px;
  max-width: 250px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 33%;
  margin-bottom: 20px;
  padding: 20px;
  color: #3a0e59;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.project-items .project-item:hover {
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
}

.project-items .project-item .project-image img {
  width: 100%;
  border-radius: 10px;
}

.project-items .project-item .project-name {
  font-size: 20px;
  font-weight: 800;
  margin: 15px 0;
}

.project-items .project-item .project-description {
  font-size: 16px;
}

.member-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 800px;
  margin-left: auto;
  margin-top: 50px;
}

.member-items .member-item {
  max-width: 200px;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.member-items .member-item .member-image img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 250px;
}

.member-items .member-item .member-name {
  font-weight: 800;
  width: 100%;
  color: #3a0e59;
  text-align: center;
  margin: 10px 0;
}

.main-image_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-image_bottom img {
  max-width: 600px;
  width: 100%;
}

.header-responsive {
  display: none;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer nav {
  text-align: center;
}

@media (max-width: 1121px) {
  .teacher-items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 992px) {
  h2::before {
    content: "";
    position: absolute;
    background: url("../img/arrow.png") left center/contain no-repeat;
    padding: 40px;
    left: -40px;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  nav .nav-link {
    margin-right: 15px;
    padding: 5px;
  }
  .screen-1 {
    background: url("../img/first-screen_resp.png") right center/contain no-repeat;
  }
  .main-image {
    padding: 120px;
    margin-left: 15px;
  }
  .teacher-items {
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .teacher-items .teacher-item {
    margin: 0 10px;
    text-align: center;
  }
  .slick-slide div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .screen-3_bottom {
    padding: 50px 0;
    min-height: unset;
  }
  .main-image_bottom {
    margin: 0 20px;
  }
  .main-image_bottom img {
    max-width: 450px;
  }
  .project-items {
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .project-items .project-item {
    margin: 0 10px;
    width: 100%;
    max-width: 300px;
    text-align: center;
  }
  .project-items .project-item img {
    max-width: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .member-items {
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .screen-2 {
    background: none;
  }
  .screen-3 {
    background: none;
  }
  .screen::before {
    display: none;
  }
}

@media (max-width: 768px) {
  .header-responsive-menu {
    position: fixed;
    display: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fcfcfc;
    z-index: 99999;
    height: 100vh;
  }
  .header-responsive-menu nav {
    display: block;
    background: none;
    margin-top: 100px;
    text-align: center;
    height: 100vh;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .header-responsive-menu nav .nav-link {
    width: 100%;
    margin: 20px 0;
    display: block;
  }
  .header-responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
  .header-responsive .menu-button {
    left: 20px;
    z-index: 999999;
    top: 20px;
    position: fixed;
    cursor: pointer;
    width: 50px;
  }
  .header-responsive .menu-button span {
    background: #3a0e59;
    width: 40px;
    display: block;
    position: relative;
    margin: 5px 0;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    height: 5px;
  }
  .header-responsive .open span:nth-child(2) {
    display: none;
  }
  .header-responsive .open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 4px;
  }
  .header-responsive .open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: -5px;
  }
  .header-responsive .logo {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 160px;
    height: 80px;
    z-index: 5;
  }
  .header-desktop {
    display: none;
  }
  .screen-1 {
    background-position-y: 300px;
    background: none;
    position: relative;
    overflow: hidden;
  }
  .figures div:nth-child(1) {
    position: absolute;
    background: url("../img/arrow.png") left center/contain no-repeat;
    top: 100px;
    left: -100px;
    padding: 100px;
  }
  .figures div:nth-child(2) {
    position: absolute;
    background: url("../img/arrow.png") left center/contain no-repeat;
    top: 250px;
    right: -50px;
    padding: 60px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .screen-1::before {
    content: "";
    position: absolute;
    background: url("../img/arrow.png") left center/contain no-repeat;
    top: 150px;
    right: -75px;
    padding: 100px;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-content {
    margin: 0 auto;
  }
  .main-image {
    background: url("../img/main.png") center center/contain no-repeat;
    padding: 180px;
    margin: 100px 20px 0 20px;
    position: relative;
    z-index: 5;
  }
  nav {
    display: none;
  }
  footer nav {
    display: block;
  }
  footer nav .nav-link {
    width: 100%;
    display: block;
    margin: 15px 0;
  }
  .teacher-items .teacher-item {
    width: 50%;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .main-image {
    padding: 140px;
  }
  .teacher-items .teacher-item {
    margin: 10px;
    width: 100%;
    max-width: 380px;
  }
  .main-content .main-bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-content h1 {
    text-align: center;
  }
  .main-content .main-bottom .main-button {
    margin-bottom: 10px;
    border-radius: 10px;
  }
  .main-content .main-bottom p {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */